@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gray-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Section scrollbar */
  .gray-scrollbar::-webkit-scrollbar-track {
    background: var(--section-track-scrollbar);
  }

  .gray-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--section-thumb-scrollbar);
    border-radius: 10px;
    border: 2px solid var(--section-track-scrollbar);
  }

  .gray-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--section-thumb-scrollbar);
    border-radius: 10px;
    border: 1px solid var(--section-track-scrollbar);
  }

  .gray-scrollbar::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 1rem;
  }
}
